@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The Bank of BIT MVC Application allows users to access and update Bank data from the convenience of the internet</p>
