@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bank Of BIT</h1>
    <p class="lead">The Bank of BIT MVC project allows a user interface to maintain Bank data</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Data Management</h2>
        <p>
            Through user-friendly views, data within the Bank of BIT database can easily be updated
        </p>
    </div>
    <div class="col-md-4">
        <h2>Pattern Based</h2>
        <p>The Bank of BIT MVC project is developed by utilizing the MCV, State and Singleton Patterns to help ensure that the data is always accurate and supports the business rules </p>
    </div>
    <div class="col-md-4">
        <h2>Web Based</h2>
        <p>Through the controllers and view, the data is presented through a web browser</p>
    </div>
</div>